body {
	background: url(../images/app-bg.png);
	margin:0;
	padding:0;
}
.story-img img, .hstory img {
	width: 100%;
	max-width: 100%;
}
.error, .valueExeed, .valueLess {
	display: none;
	color: red;
}
.tariffRange {
	display: none;
}
.himg {
	width: 100%;
	background-color: #FFF;
	text-align: center;
	max-width: 100%;
	background: #ebebeb;
}
.himg img {
	max-width: 100%;
}
/*.himg img{
	margin-bottom:10px;
	}*/
	
.header {
	min-height: 40px;
}
.footer {
	text-align: center;
	min-height: 30px;
}
.thumb {
	width: 80px;
	height: 80px;
	overflow: hidden;
	text-align: left;
	clear: both;
	position: absolute;
	z-index: 1;
	margin: 5px;
}
.thumb img {
	max-height: 80px;
}
#links li {
	max-height: 90px;
	min-height: 90px;
	width: 100%;
	position: relative;
}
#links li h3 {
	padding-left: 80px;
}
.ui-bar-a, .ui-btn-up-b {
	background: #afe563;
	background: -moz-linear-gradient(top, #afe563 0%, #75bc47 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #afe563), color-stop(100%, #75bc47));
	background: -webkit-linear-gradient(top, #afe563 0%, #75bc47 100%);
	background: -o-linear-gradient(top, #afe563 0%, #75bc47 100%);
	background: -ms-linear-gradient(top, #afe563 0%, #75bc47 100%);
	background: linear-gradient(to bottom, #afe563 0%, #75bc47 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#afe563', endColorstr='#75bc47', GradientType=0 );
}
.ui-btn-corner-all {
	border-radius: 0;
}
.ui-btn-hover-b {
	background: #afe563;
	background: -moz-linear-gradient(top, #afe563 0%, #75bc47 50%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #afe563), color-stop(50%, #75bc47));
	background: -webkit-linear-gradient(top, #afe563 0%, #75bc47 50%);
	background: -o-linear-gradient(top, #afe563 0%, #75bc47 50%);
	background: -ms-linear-gradient(top, #afe563 0%, #75bc47 50%);
	background: linear-gradient(to bottom, #afe563 0%, #75bc47 50%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#afe563', endColorstr='#75bc47', GradientType=0 );
}
.ATMWithdrawal{
	display:none;
	}
	
.toggle-drawer {
	display: block;
	height: 30px;
	width: 8px;
	background:url(../img/sprite.png);
	margin:13px 5px;
}
#nav-bar{
	background:#73B744;
}
#footer{
	background:#73B744;
	color:#fff;
	padding-top:15px;
	text-align:center;
	}
#nav-bar h2{
	color:#fff;
	}
	
#lefty{
	padding:10px;
	color:#fff;
	}
#lefty a{
	color:#fff;
	}
#lefty .vickyjr-twitter{
	color:#55ACEE;
	}
#lefty .vickyjr-fb{
	color:#405D9A;
	}
#left-toggle-btn{
	display:block;
	padding:0 10px;
	}
#div-gpt-ad-1392926785857-0{
	margin:10px auto;
	}